default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  host: <%= ENV['DATABASE_URL'] %>

development:
  <<: *default
  database: mivi_api_dev

test:
  <<: *default
  database: mivi_api_test


production:
  <<: *default
  database: mivi_api
